@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* Cambiar la imagen de las estrellas cuando se pasa el mouse sobre cualquier estrella */
.rating-container input[type="radio"]:checked ~ label:hover img,
.rating-container input[type="radio"]:checked + label img,
.rating-container input[type="radio"]:checked ~ label ~ input[type="radio"] + label img {
    content: url("../img/star.svg");
}

/* Restaurar la imagen de las estrellas no marcadas cuando se retira el mouse */
.rating-container input[type="radio"]:not(:checked):hover ~ label img {
    content: url("../img/star.svg");
}
